<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-互動園區
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            //-輪播連結
            //-餵食區
            div(id="feeding-area" class="active-area")
                div(id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#carouselExampleIndicators1" data-slide-to="0" class="active")
                        li(data-target="#carouselExampleIndicators1" data-slide-to="1")
                        li(data-target="#carouselExampleIndicators1" data-slide-to="2")
                    div(class="carousel-inner active-park-img-block")
                        div(class="carousel-item active")
                            a(class="feeding-img" href="feeding.html")
                                img(src="../image/feeding1-banner.png" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 餵食區-羊駝
                                    p 羊駝的餵食區，羊駝其實就是大家所熟悉的"草泥馬"，羊駝的皮毛屬於高價品，因此其價值頗高，但又因其屬跟駱駝是近親，有著讓飼養員比較尷尬的習性，那就是───吐口水
                        div(class="carousel-item")
                            a(class="feeding-img" href="feeding.html")
                                img(src="../image/feeding2-banner.png" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 餵食區-綿羊
                                    p 綿羊是我們常聽到的牧場動物，其皮毛因品種與個體身體狀況的不同，其價值間有極大的差異，大眾認為綿羊是極為溫順的草食動物，但事實上，綿羊並沒有一般認知上那麼柔弱
                        div(class="carousel-item")
                            a(class="feeding-img" href="feeding.html")
                                img(src="../image/feeding3-banner.png" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 餵食區-牛
                                    p 牛是古時農家的好夥伴，已經馴養好的牛隻是很溫順的，但如果遇到野生的牛隻，千萬不要輕易地靠近他!
                a(class="carousel-control-prev feeding-carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev")
                    span(class="carousel-control-prev-icon feeding-area-prev-bt" aria-hidden="true")
                    span(class="sr-only") Previous
                a(class="carousel-control-next feeding-carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next")
                    span(class="carousel-control-next-icon feeding-area-next-bt" aria-hidden="true")
                    span(class="sr-only") Next
            //-騎乘區
            div(id="riding-area" class="active-area")
                div(id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#carouselExampleIndicators2" data-slide-to="0" class="active")
                        li(data-target="#carouselExampleIndicators2" data-slide-to="1")
                        li(data-target="#carouselExampleIndicators2" data-slide-to="2")
                    div(class="carousel-inner active-park-img-block")
                        div(class="carousel-item active")
                            a(class="riding=img" href="riding.html")
                                img(src="../image/riding1-banner.jpg" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 騎乘區-大象
                                    p 大象是眾所周知陸地上最大的哺乳類動物，其性格十分的溫順。但是大象具有非常強烈的群體情緒性動物，如果你招惹了一隻，那麼追你的會是一整群的大象。
                        div(class="carousel-item")
                            a(class="riding=img" href="riding.html")
                                img(src="../image/riding2-banner.jpg" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 騎乘區-馬
                                    p 馬是一般所知的騎乘動物，從古時候就開始有馴馬做移動方式、傳信、戰爭的做法，馬匹本身是溫馴的，可是當你要騎到他的背上的時候，你就需要先馴服他才行了。
                        div(class="carousel-item")
                            a(class="riding=img" href="riding.html")
                                img(src="../image/riding3-banner.jpg" class="d-block w-100" alt="...")
                                div(class="carousel-caption d-md-block")
                                    h5 騎乘區-馬車
                                    p 馬車是以馬匹拖行車輛進行移動的一種方式，古時候馬車本身也是一種身分地位的象徵，要坐上馬車，沒有一定的身分地位是不行的。
                a(class="carousel-control-prev riding-carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev")
                    span(class="carousel-control-prev-icon riding-area-prev-bt" aria-hidden="true")
                    span(class="sr-only") Previous
                a(class="carousel-control-next riding-carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next")
                    span(class="carousel-control-next-icon riding-area-next-bt" aria-hidden="true")
                    span(class="sr-only") Next





        include ../leading2.pug
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")