//-各區域的MIXIN 分別可以直接設定類別名稱，連結檔案位址，圖片位置，快搜敘述
mixin areablock(classname, areaposition, imgposition, altdiscription)
    div(class="" + classname + "")
        a(href="" + areaposition + "")
            img(src="" + imgposition + "", alt="" + altdiscription + "")




<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="style.css")
    body
        //-整個頁面的背景圖
        div(class="background")
            //-大門 地圖 熱氣球 告示牌
            //-include Logo.pug 門扉
            include logo.pug
            //-include nav.pug 熱氣球
            include nav.pug
            //-門框
            div(id="door")
                //-觀賞園區
                +areablock("animal-block", "animalpark/animal-park.html", "image/animals.png", "觀賞園區")
                //-互動園區
                +areablock("active-block", "activepark/active-park.html", "image/farm.png", "互動園區")
                //-主題咖啡廳
                +areablock("coffee-block", "coffee/coffee.html", "image/coffee.png", "主題咖啡廳")
                //-精品禮品店
                +areablock("present-block", "present/present.html", "image/souvenir.png", "精品禮品店")
                //-活動展覽
                +areablock("event-block", "event/event.html", "image/circus2.png", "活動展覽")
            include leading.pug
            //-地面-版權聲明
            include footer.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="js/java.js")
