<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
    body
        //-整個頁面的背景圖
        div(id="background")
            //-大門 地圖 熱氣球 告示牌
            //-include Logo.pug 門扉
            div(class="Logo")
                a(href="index.html") 奇想動物園
                    img(src="", alt="首頁 奇想動物園")
            //-include nav.pug 熱氣球
            nav(class="nav")
                img(id="hamburger", src="image/sunflower.png", alt="向日葵導覽列")
                a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                a(href="")
                    a(href="")
                    a(href="")
                    a(href="")
                a(href="")
                    a(href="")
                    a(href="")
                a(href="")
                    a(href="")
                    a(href="")
            //-門框
            div(id="door")
                //-觀賞園區
                div(id="link-animal-park")
                    a(href="")
                //-互動園區
                div(id="link-active-park")
                //-主題咖啡廳
                div(id="link-coffee")
                //-精品禮品店
                div(id="link-present")
                //-活動展覽
                div(id="link-event")
                //-告示牌-關於我們-聯絡店家-店家位置-FB-LINE
                div(id="contact")
                //-地面-版權聲明
                footer(class="footer")



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
