div(class="leading")
    div(class="leading-list")
        a(href="../contact/about.html") 關於我們
        br
        a(href="../contact/contact.html") 聯絡我們
    div(class="leading-img")
        img(src="../image/billboard.png", alt="告示牌")