//-第二層的
div(class="nav-bg")
    nav(class="nav")
        img(class="click-bt", src="../image/hotairballoon.png", alt="熱氣球 導覽列" data-list=".nav-list")
    div(class="nav-list")
        img(class="click-bt" data-list=".animal-park-list" src="../image/button-arrow.png", alt="點擊縮放")
        a(href="../animalpark/animal-park.html")
            span 觀賞園區
            br
        a(class="animal-park-list" href="../animalpark/polar.html")
            span 極地
            br
        a(class="animal-park-list" href="../animalpark/savana.html")
            span 草原
            br
        a(class="animal-park-list" href="../animalpark/forest.html")
            span 森林
            br
        a(class="animal-park-list" href="../animalpark/mountain.html")
            span 山區
            br
        a(class="animal-park-list" href="../animalpark/ocean.html")
            span 海洋
        hr
        img(class="click-bt" data-list=".active-park-list" src="../image/button-arrow.png", alt="點擊縮放")
        a(href="../activepark/active-park.html")
            span 互動園區
            br
        a(class="active-park-list" href="../activepark/feeding.html")
            span 餵食區
            br
        a(class="active-park-list" href="../activepark/riding.html")
            span 騎乘區
        hr
        img(class="click-bt" data-list=".coffee-list" src="../image/button-arrow.png", alt="點擊縮放")
        a(href="../coffee/coffee.html")
            span 主題餐廳
            br
        a(class="coffee-list" href="../cooffee/cat-coffee.html")
            span 貓咪咖啡廳
            br
        a(class="coffee-list" href="../cooffee/fursuit.html")
            span 毛毛茶屋
            br
        a(class="coffee-list" href="../cooffee/husky-coffee.html")
            span 哈士奇餐廳
        hr
        a(href="../present/present.html")
            span 精品禮品店
        hr
        img(class="click-bt" data-list=".event-list" src="../image/button-arrow.png", alt="點擊縮放")
        a(href="../event/event.html")
            span 活動展覽
            br
        a(class="event-list" href="../event/furevent.html")
            span 毛毛大遊行
            br
        a(class="event-list" href="../event/circusevent.html")
            span 馬戲團遊行