<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-觀賞園區
        link(rel="stylesheet", href="style.css")
    body
        include ../background.pug
            include ../Logo.pug
            include ../nav.pug
            include ../door.pug
                div(id="polar")
                div(id="savana")
                div(id="rainforest")
                div(id="mountain")
                div(id="rock")
                div(id="ocean")











        include ../contact.pug
        include ../footer.pug